<br>
<!-- <button type="button" class="btn btn-light mr-1">
    Nuovo
</button> -->

<button class="btn btn-lg btn-outline-primary" (click)="MettiInVendita(content)">
    Nuovo
</button>

<!-- <p>{{ dolciInVetrina | json }} </p> -->

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Pastry Shop
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="Quantita">
                    Dolce
                </label>
                <select class="form-control" (change)="changeDolce($event)">
                    <option value="" selected disabled>Scegli un dolce...</option>
                    <option *ngFor="let item of elencoDolci | keyvalue" 
                        value="{{item.key}}">{{ item.value }}</option>
                  </select>
                <label for="Quantita">
                    Quantità
                </label>
                <div class="input-group">
                    <input 
                        [(ngModel)]= "Qta"
                        name= "Qta"
                        class="form-control" 
                        placeholder="0">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('s')">
            Annulla
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="saveDolce(modal)">
            Salva
        </button>
    </div>
</ng-template>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Disponibilità</th>
            <th>Prezzo</th>
            <th>Prezzo Scontato</th>
            <th>Data messa in vendita</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dolciInVetrina">
            <td>{{item.nome}}</td>
            <td>{{item.disponibilita}}</td>
            <td>{{item.prezzo}}</td>
            <td>{{item.prezzoScontato}}</td>
            <td>{{item.dataMessaInVendita | date:"dd/MM/yyyy hh:mm"}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1" (click)="OpenModalSell(item,contentMyModal)">
                    Vendi
                </button>
                <button type="button" class="btn btn-light mr-1" (click)="Elimina(item.idLotto)">
                    Elimina
                </button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #contentMyModal let-myModal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Pastry Shop
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="myModal.dismiss('Cross click')">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
   <div class="modal-body">
<input type="number" [(ngModel)]="qtaMod" name="qtaMod">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="myModal.close('s')">
            Annulla
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="Sell(myModal)">
            Salva
        </button>
    </div>
</ng-template>
